{% extends "checkin/index.html" %}
{% load i18n %}

{% block title %}{% trans "An error occurred" %}{% endblock title %}

{% block main %}
<div class="container-narrow">
  <div class="jumbotron">
    <img src="{{ STATIC_URL }}/images/sadmac.png" alt="{% trans "An error occurred" %}" title="{% trans "An error occurred" %}"/>
    <p class="lead">{% trans "An error occurred." %}</p>
    <p>{{ message }}</p>
    <a class="btn btn-large btn-success" href="{{ url }}"><i class="glyphicon glyphicon-repeat"></i> {% trans "Try again" %}</a>
    <a class="btn btn-large btn-default" href="{% url 'accounts-login' %}"><i class="icon-refresh icon-white"></i> {% trans "Return to login page" %}</a>
  </div>
</div>
{% endblock main %}
